each dispo in data
	div.col-md-4.col-xs-12.col-sm-6.col-lg-3   
		div.teaser
			div.headline
				h4
					i.fa.fa-book.fa-lg
					span #{dispo.disposalNumber}
			div.teaser-content 
				dl
					dt Kundennummer
					dd #{dispo.customerNumber}
					dt Adresse
					dd #{dispo.address}
					dt Rechnungsnummer
					dd #{dispo.invoiceNumber}
					dt Referenznummer
					dd #{dispo.referenceNumber}
if data.length == pageSize
	if searchtext != undefined && searchtext.lenght > 0
		a.jscroll-next(href="/disposalRow/#{searchText}/#{parseInt(page)+1}") next page
	else
		a.jscroll-next(href="/disposalRow/#{parseInt(page)+1}") next page